.main-visual {
  position: relative;
}

.hero {
  background-color: #f0f4f9;
  height: 550px;
  &__inner {
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 3rem;
  }
  &__sub-title {
    display: block;
    font: bold 3rem normal;
  }
  &__title {
    font: normal 6rem Georgia;
  }
  &__btn-group {
    margin-top: 30px;
  }
  &__img {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 30vw;
  }
}

.hero-banner {
  margin: auto;
  width: 90vw;
  position: absolute;
  top: 600px;
  right: 60px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #002147;
    flex-direction: row;
    border-radius: 12px;
  }
  &__img {
    margin: 20px;
  }
  &__title {
    font: bold 3rem Georgia;
    color: #ffffff;
    margin: 20px;
  }
  &__date-outer {
    display: flex;
  }
  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  &__date-num {
    font: bold 6rem normal;
    color: #ffffff;
  }
  &__date-txt {
    font: normal 1.4rem normal;
    color: #ffffff;
  }
}

.article-lists {
  margin-top: 200px;
  &__h2 {
    text-align: center;
    font: bold 4.8rem Georgia;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90vw;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
}

.successful-feedback {
  margin-top: 100px;
  margin-bottom: 50px;
  &__inner {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img-outer {
    flex: 1;
  }
  &__img {
    position: relative;
    height: 400px;
    display: flex;
    width: 600px;
  }

  &__category-img {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 40px;
  }
  &__student-img {
    width: 500px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  &__name-container {
    position: absolute;
    top: 370px;
    left: 150px;
    width: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
  &__name {
    font: bold 1.5rem inter;
  }
  &__skill {
    font: normal 1rem inter;
    color: #757575;
  }

  &__content {
    flex: 1;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__h2 {
    font: bold 4.8rem Georgia;
  }
  &__desc {
    font: normal 1.5rem inter;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__info {
    font: bold 1.5rem inter;
    color: #002147;
  }
}

.card {
  margin-top: 30px;
  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f0f4f9;
  }
  &__img {
    flex: 1;
    width: 100px;
  }

  &__article {
    flex: 4;
    margin-left: 20px;
  }
  &__article-ttl {
    font: bold 1.5rem inter;
    color: #002147;
  }

  &__article-category {
    font: normal 1rem inter;
    color: #757575;
  }
}

.service-data {
  background-color: #f0f4f9;
  &__inner {
    width: 90vw;
    height: 450px;
    background-image: url(/img/illustration/world.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__num {
    font: bold 6rem Georgia;
  }
  &__label {
    margin-top: 10px;
    font: bold 1.2rem inter;
    color: #00b2b2;
  }
}

.newsletter {
  margin-top: 80px;
  &__inner {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  &__img {
    margin-right: 30px;
    width: 30%;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__sub-ttl {
    font: bold 1.6rem inter;
  }
  &__ttl {
    font: bold 4.8rem Georgia;
  }
}

.newsletter-form {
  margin-top: 30px;
  &__inner {
    display: flex;
    align-items: center;
    border: solid 1px #bdbdbd;
    height: 40px;
  }
  &__label {
    margin: 10px;
    flex: 1;
  }
  &__input {
    flex: 11;
    height: 100%;
  }
  &__submit {
    flex: 3;
    width: 120px;
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .hero {
    &__inner {
      height: 90vh;
      display: flex;
      align-items: center;
    }
    &__sub-title {
      display: block;
      font: bold 2.5rem normal;
    }
    &__title {
      font: normal 3rem Georgia;
    }
    &__btn-group {
      margin-top: 0px;
      order: 1;
    }
    &__img {
      margin-bottom: 30px;
      width: 40vw;
    }
  }
  .hero-banner {
    position: relative;
    top: -100px;
    left: 0px;
    &__inner {
      width: 90vw;
      display: flex;
      flex-direction: column;
      background-color: #002147;
      border-radius: 12px;
    }
    &__img {
      display: none;
    }
    &__title {
      font: bold 2rem Georgia;
      color: #ffffff;
      margin-bottom: 0px;
    }
    &__date-outer {
      display: flex;
      flex-direction: row;
    }
    &__date {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
    &__date-num {
      font: bold 4rem normal;
    }
    &__date-txt {
      font: normal 1.4rem normal;
    }
  }

  .article-lists {
    margin-top: 0px;
    &__h2 {
      font-size: 3rem;
    }
  }

  .successful-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;

    &__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__img-outer {
      position: relative;
      flex: 1;
    }
    &__img {
      width: 100%;
      height: initial;
      max-width: 350px;
      object-fit: cover;
      display: flex;
    }
    &__category-img {
      position: absolute;
      z-index: 1;
      width: 25%;
      top: -20px;
      left: -20px;
    }
    &__student-img {
      width: 100%;
      position: initial;
    }
    &__name-container {
      position: absolute;
      top: 90%;
      left: 20%;
      width: 60%;
      height: 50px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
    &__content {
      margin-top: 50px;
      flex: initial;
      width: 100%;
      height: initial;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__h2 {
      font: bold 2rem Georgia;
    }
  }
  .card {
    margin-top: 20px;
    &__inner {
      padding: 10px;
      display: flex;
      width: 100%;
      align-items: center;
      background-color: #f0f4f9;
    }
    &__img {
      flex: 1;
      width: 100px;
    }

    &__article {
      flex: 4;
      margin-left: 20px;
    }
    &__article-ttl {
      font: bold 1.4rem inter;
      color: #002147;
    }

    &__article-category {
      font: normal 1rem inter;
      color: #757575;
    }
  }
  .service-data {
    background-color: #f0f4f9;
    &__inner {
      width: 90vw;
      height: 100%;
      background-image: url(/img/illustration/world.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      display: flex;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__num {
      font: bold 6rem Georgia;
    }
    &__label {
      margin-top: 10px;
      font: bold 1.2rem inter;
      color: #00b2b2;
    }
  }

  .newsletter {
    margin-top: 80px;
    &__inner {
      width: 90vw;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      flex-direction: column;
    }
    &__img {
      margin-right: 30px;
      width: 30%;
    }
    &__content {
      display: initial;
    }
    &__sub-ttl {
      font: bold 1.2rem inter;
    }
    &__ttl {
      font: bold 2.2rem Georgia;
    }
  }

  .newsletter-form {
    margin-top: 30px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: solid 1px #bdbdbd;
      height: 40px;
    }
    &__label {
      margin: 10px;
    }
    &__input {
      height: 100%;
      flex: initial;
    }
    &__submit {
      width: 120px;
    }
  }
}
