/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
  font-size: 10px;
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type='search'] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.mr-3 {
  margin-right: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.has-text-primary {
  color: #fdc800;
}

.is-size-0_8 {
  font-size: 0.8rem;
}

.is-size-1 {
  font-size: 1rem;
}

.is-size-1_5 {
  font-size: 1.5rem;
}

.is-size-2 {
  font-size: 2rem;
}

.is-size-2_5 {
  font-size: 2.5rem;
}

.is-size-3 {
  font-size: 3rem;
}

.is-size-3_5 {
  font-size: 3.5rem;
}

.main-visual {
  position: relative;
}

.hero {
  background-color: #f0f4f9;
  height: 550px;
}

.hero__inner {
  width: 90vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
}

.hero__sub-title {
  display: block;
  font: bold 3rem normal;
}

.hero__title {
  font: normal 6rem Georgia;
}

.hero__btn-group {
  margin-top: 30px;
}

.hero__img {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 30vw;
}

.hero-banner {
  margin: auto;
  width: 90vw;
  position: absolute;
  top: 600px;
  right: 60px;
}

.hero-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #002147;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 12px;
}

.hero-banner__img {
  margin: 20px;
}

.hero-banner__title {
  font: bold 3rem Georgia;
  color: #ffffff;
  margin: 20px;
}

.hero-banner__date-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-banner__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.hero-banner__date-num {
  font: bold 6rem normal;
  color: #ffffff;
}

.hero-banner__date-txt {
  font: normal 1.4rem normal;
  color: #ffffff;
}

.article-lists {
  margin-top: 200px;
}

.article-lists__h2 {
  text-align: center;
  font: bold 4.8rem Georgia;
}

.article-lists__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 90vw;
  margin-top: 30px;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.successful-feedback {
  margin-top: 100px;
  margin-bottom: 50px;
}

.successful-feedback__inner {
  width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.successful-feedback__img-outer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.successful-feedback__img {
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

.successful-feedback__category-img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 40px;
}

.successful-feedback__student-img {
  width: 500px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.successful-feedback__name-container {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 250px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.successful-feedback__name {
  font: bold 1.5rem inter;
}

.successful-feedback__skill {
  font: normal 1rem inter;
  color: #757575;
}

.successful-feedback__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.successful-feedback__h2 {
  font: bold 4.8rem Georgia;
}

.successful-feedback__desc {
  font: normal 1.5rem inter;
  margin-top: 20px;
  margin-bottom: 30px;
}

.successful-feedback__info {
  font: bold 1.5rem inter;
  color: #002147;
}

.card {
  margin-top: 30px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f4f9;
}

.card__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100px;
}

.card__article {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-left: 20px;
}

.card__article-ttl {
  font: bold 1.5rem inter;
  color: #002147;
}

.card__article-category {
  font: normal 1rem inter;
  color: #757575;
}

.service-data {
  background-color: #f0f4f9;
}

.service-data__inner {
  width: 90vw;
  height: 450px;
  background-image: url(/img/illustration/world.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-data__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-data__num {
  font: bold 6rem Georgia;
}

.service-data__label {
  margin-top: 10px;
  font: bold 1.2rem inter;
  color: #00b2b2;
}

.newsletter {
  margin-top: 80px;
}

.newsletter__inner {
  width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.newsletter__img {
  margin-right: 30px;
  width: 30%;
}

.newsletter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__sub-ttl {
  font: bold 1.6rem inter;
}

.newsletter__ttl {
  font: bold 4.8rem Georgia;
}

.newsletter-form {
  margin-top: 30px;
}

.newsletter-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #bdbdbd;
  height: 40px;
}

.newsletter-form__label {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.newsletter-form__input {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
  height: 100%;
}

.newsletter-form__submit {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 120px;
  margin: 5px;
}

@media (max-width: 600px) {
  .hero__inner {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__sub-title {
    display: block;
    font: bold 2.5rem normal;
  }
  .hero__title {
    font: normal 3rem Georgia;
  }
  .hero__btn-group {
    margin-top: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero__img {
    margin-bottom: 30px;
    width: 40vw;
  }
  .hero-banner {
    position: relative;
    top: -100px;
    left: 0px;
  }
  .hero-banner__inner {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #002147;
    border-radius: 12px;
  }
  .hero-banner__img {
    display: none;
  }
  .hero-banner__title {
    font: bold 2rem Georgia;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .hero-banner__date-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-banner__date {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .hero-banner__date-num {
    font: bold 4rem normal;
  }
  .hero-banner__date-txt {
    font: normal 1.4rem normal;
  }
  .article-lists {
    margin-top: 0px;
  }
  .article-lists__h2 {
    font-size: 3rem;
  }
  .successful-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px;
  }
  .successful-feedback__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .successful-feedback__img-outer {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .successful-feedback__img {
    width: 100%;
    height: initial;
    max-width: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .successful-feedback__category-img {
    position: absolute;
    z-index: 1;
    width: 25%;
    top: -20px;
    left: -20px;
  }
  .successful-feedback__student-img {
    width: 100%;
    position: initial;
  }
  .successful-feedback__name-container {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
  }
  .successful-feedback__content {
    margin-top: 50px;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 100%;
    height: initial;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .successful-feedback__h2 {
    font: bold 2rem Georgia;
  }
  .card {
    margin-top: 20px;
  }
  .card__inner {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f0f4f9;
  }
  .card__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100px;
  }
  .card__article {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-left: 20px;
  }
  .card__article-ttl {
    font: bold 1.4rem inter;
    color: #002147;
  }
  .card__article-category {
    font: normal 1rem inter;
    color: #757575;
  }
  .service-data {
    background-color: #f0f4f9;
  }
  .service-data__inner {
    width: 90vw;
    height: 100%;
    background-image: url(/img/illustration/world.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service-data__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .service-data__num {
    font: bold 6rem Georgia;
  }
  .service-data__label {
    margin-top: 10px;
    font: bold 1.2rem inter;
    color: #00b2b2;
  }
  .newsletter {
    margin-top: 80px;
  }
  .newsletter__inner {
    width: 90vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter__img {
    margin-right: 30px;
    width: 30%;
  }
  .newsletter__content {
    display: initial;
  }
  .newsletter__sub-ttl {
    font: bold 1.2rem inter;
  }
  .newsletter__ttl {
    font: bold 2.2rem Georgia;
  }
  .newsletter-form {
    margin-top: 30px;
  }
  .newsletter-form__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: solid 1px #bdbdbd;
    height: 40px;
  }
  .newsletter-form__label {
    margin: 10px;
  }
  .newsletter-form__input {
    height: 100%;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .newsletter-form__submit {
    width: 120px;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
}

.btn:hover {
  border: solid 1px #fdc800;
  background-color: #fdc800;
}

.is-primary {
  border: solid 1px #fdc800;
  background-color: #fdc800;
}

.is-primary:hover {
  background-color: #f0f4f9;
}

.article-list {
  width: 370px;
  margin-bottom: 20px;
}

.article-list__inner {
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}

.article-list__img {
  text-align: center;
}

.article-list__post-img {
  margin-bottom: 15px;
}

.article-list__category-img {
  position: absolute;
  top: 145px;
  left: 20px;
}

.article-list__content {
  margin-bottom: 20px;
  margin-left: 20px;
}

.article-list__h3 {
  font: bold 2rem inter;
  margin-bottom: 10px;
}

.article-list__category-name {
  font: normal 1.4rem inter;
  color: #757575;
}

@media (min-width: 600px) {
  .article-list {
    background-color: #ffffff;
  }
}

.header {
  position: relative;
  background-color: #fdc800;
  border-top: solid 5px #fdc800;
}

.header-top__inner {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 17px;
}

.address__img {
  height: 16px;
  width: 14px;
}

.address__txt {
  font-size: 1.4rem;
}

.sns-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
}

.sns-items__img {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

.header-bottom {
  background-color: #f0f4f9;
  padding: 2rem;
  vertical-align: middle;
}

.header-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 10px;
}

.logo__h1 {
  font-size: 2.4rem;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav__item {
  margin-right: 4rem;
  font-size: 1.6rem;
}

.search {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1rem;
  margin-left: 3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
  .header-top {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: bo;
  }
}

.footer {
  margin-top: 50px;
  background-color: #002147;
}

.footer__inner {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
}

.footer-address {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address__img {
  margin-right: 10px;
}

.footer-address__ttl {
  font: bold 2.3rem inter;
  color: #ffffff;
}

.footer-address__info {
  margin-top: 20px;
}

.footer-address__info-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address__info-txt {
  margin-left: 10px;
  font: normal 1.2rem inter;
  color: #ffffff;
}

.footer-nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fotter-nav-item__ttl {
  font: bold 1.5rem inter;
  color: #ffffff;
}

.fotter-nav-item__list {
  margin-top: 5px;
  margin-bottom: 5px;
  font: normal 1.4rem inter;
  color: #ffffff;
}

.copy-right {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdc800;
  padding: 20px 35px;
}

.copy-right__ttl {
  font: normal 1.2rem inter;
  color: #002147;
}

.copy-right__img {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .footer {
    margin-top: 50px;
    background-color: #002147;
  }
  .footer__inner {
    width: 90vw;
  }
  .footer-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90vw;
  }
  .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-address__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 70px;
  }
  .footer-address__img {
    margin-right: 10px;
  }
  .footer-address__ttl {
    font: bold 2.3rem inter;
    color: #ffffff;
  }
  .footer-address__info {
    margin-top: 20px;
  }
  .footer-address__info-item {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-address__info-txt {
    margin-left: 10px;
    font: normal 1.2rem inter;
    color: #ffffff;
  }
  .footer-nav {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fotter-nav-item {
    display: none;
  }
  .fotter-nav-item__ttl {
    font: bold 1.5rem inter;
    color: #ffffff;
  }
  .fotter-nav-item__list {
    margin-top: 5px;
    margin-bottom: 5px;
    font: normal 1.4rem inter;
    color: #ffffff;
  }
  .copy-right {
    width: 90vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fdc800;
    padding: 20px 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }
  .copy-right__ttl {
    font: normal 1.2rem inter;
    color: #002147;
  }
  .copy-right__img {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=this-thema.css.map */