.header {
  position: relative;
  background-color: $primary;
  border-top: solid 5px $primary;
}

.header-top {
  &__inner {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.address {
  flex: 1;
  display: flex;

  &__inner {
    display: flex;
    margin: 17px;
  }
  &__img {
    height: 16px;
    width: 14px;
  }
  &__txt {
    font-size: 1.4rem;
  }
}

.sns-items {
  flex: 1;
  text-align: end;
  &__img {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }
}

.header-bottom {
  background-color: #f0f4f9;
  padding: 2rem;
  vertical-align: middle;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
  }
}
.logo {
  flex: 1;
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
  &__img {
    margin-right: 10px;
  }
  &__h1 {
    font-size: 2.4rem;
  }
}
.nav {
  flex: 1;
  display: flex;
  align-items: center;
  &__inner {
    display: flex;
    justify-content: end;
  }
  &__item {
    margin-right: 4rem;
    font-size: 1.6rem;
  }
}

.search {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1rem;
  margin-left: 3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
  .header-top {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin: bo;
  }
}
