.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
}

.btn:hover {
  border: solid 1px #fdc800;
  background-color: #fdc800;
}

.is-primary {
  border: solid 1px #fdc800;
  background-color: #fdc800;
}

.is-primary:hover {
  background-color: #f0f4f9;
}
