.article {
  width: 100%;
}

.carrd-items {
}

.card-item {

  &-imgwrap {
    overflow: hidden;

    &-img {

      width: 300px;
      height: auto;
      object-fit: cover;
    }
    &-h2 {
      font-size: 1.6rem;
      color: red;
    }
    &-desc {
    }
    &-tag {
    }
    &-date {
    }
  }
}
