.article {
  width: 100%;
}

.carrd-items {
}

.card-item {

  background-color: #F5F5F5;
  &-imgwrap {
    
    &-img {
      width: 300px;
      height: auto;
      object-fit: cover;
    }
  }
    &-h2 {
      font-size: 1.6rem;
      color:#555;
    }
    &-desc {
      font-size: 1.2rem;
      color: #585858;
    }
    &-tag {
      color: 143D7A;
    }
    &-date {
    }
}
