.article {
  width: 100%;
}

.carrd-items {
}

.card-item {

  &-imgwrap {
    position: relative;
    overflow: hidden;
    padding-top: 60%; /* 比率 */
    &-img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      transform: translate(-50%, -50%);
    }
    &-h2 {
      font-size: 1.6rem;
      color: red;
    }
    &-desc {
    }
    &-tag {
    }
    &-date {
    }
  }
}
