.article {
  width: 100%;
}

// .carrd-items{

// }

.card-item {
  position: relative;
  overflow: hidden;
  &-img {
    width: 300px;
    height: 100%;
  }
  &-h2 {
    font-size: 3.0rem;
  }
  &-desc {
  }
  &-tag {
  }
  &-date {
  }
}
