.logo{
  &-desc{
    background: linear-gradient(transparent 50%, $yellow 50%);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  img{
    width: 200px;
  }
}

.nav{
  &-items{
    overflow: hidden;
      li{
        width: 140px;
        text-align: center;
        float: left;
        font-size: 2.0rem;
        button{
          background-color: red;
          pa
        }
      }
    }
  }
